body {
    background-color: #000000;
    color: #7B7B7B;
	cursor: url('../images/cursor/arrow-pointer.svg') 0 0, auto;
    margin: 0;
}

p, span, .text-element, h1, h2, h3, h4, h5, h6 {
	cursor: url('../images/cursor/beam.svg') 0 0, auto;
}