/* Card */

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 1.0rem;
    padding-left: 2.0rem;
    padding-bottom: 1.0rem;
    aspect-ratio: 4.0/1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.card-inner-layout {
    background-color: #000000;
    opacity: 7.5%;
    min-width: 1%;
    aspect-ratio: 1/18;
    border-radius: 8px;
}

.card-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    gap: 1.5rem;
}

.card-vertical-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    gap: 0.3rem;
}

.card-institution-name {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: clamp(0.6rem, 0.85rem, 1rem);
}

.card-field-of-study {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #7B7B7B;
    font-size: clamp(0.6rem, 0.85rem, 1rem);
}

.card-status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.0rem;
}

.card-dropout-status {
    background-color: #FF3F3F40;
    margin-top: 0.3rem;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 8px;
}

.card-dropout-status span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #D51515;
    font-size: clamp(0.55rem, 0.7rem, 0.85rem);
}

.card-completed-status {
    background-color: #0FC97040;
    margin-top: 0.3rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 8px;
}

.card-completed-status span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #017F57;
    font-size: clamp(0.55rem, 0.7rem, 0.85rem);
}

.card-period {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #A2A2A2;
    font-weight: bold;
    padding-top: 2.5%;
    font-size: 0.8rem;
    width: 9rem;
}