/* Sidebar */

.sidebar {
    width: 30.9%;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 47.5%;
}

.sidebar-content-separator {
    height: 1px;
    width: 100%;
    background-color: #979797;
    opacity: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sidebar-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 1rem;
    gap: 1.0rem;
}

.sidebar-horizontal-container a {
    display: inline-block;
}

.profile-picture {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8%;
}

.sidebar h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: bold;
    color: #000000;
    margin-top: 1.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    font-weight: bold;
    color: #8A8A8F;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    font-weight: bold;
    color: #000000;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    color: #7B7B7B;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar-icon {
    width: clamp(26px, 2vw, 2.2vw);
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Content */

.content {
    padding: 2rem;
    margin-left: 30.9%;
}

.content article {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0rem;
}

.content-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;
    gap: 0.3rem;
}

.comma {
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: fill;
    margin-bottom: 0.3rem;
}

.content h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(3.5rem, 5vw, 4.5rem);
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 1.5rem;
    text-align: left;
    line-height: 1;
}

.content h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 4.0rem;
    text-align: left;
    line-height: 1;
}

.content .text-highlight {
    font-weight: bold;
    color: #FFFFFF;
}

.content p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    margin-top: 1.5rem;
    line-height: 1.6;
}

.content #subtitle {
    margin-top: 0.5rem;
}

/* Layout Responsiveness */

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }
}