/* Sidebar */

.sidebar {
    width: clamp(22.5rem, 30.9%, 32.5rem);
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 47.5%;
}

.sidebar-content-separator {
    height: 1px;
    width: 100%;
    background-color: #979797;
    opacity: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sidebar-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 1rem;
    gap: 1.0rem;
}

.sidebar-horizontal-container a {
    display: inline-block;
}

.profile-picture {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.025);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.sidebar h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-weight: bold;
    color: #000000;
    margin-top: 1.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    font-weight: bold;
    color: #8A8A8F;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    font-weight: bold;
    color: #000000;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    color: #7B7B7B;
    margin-top: 0.5rem;
    text-align: left;
    line-height: 1;
}

.sidebar-icon {
    width: clamp(26px, 2vw, 2.2vw);
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Content */

.content {
    padding-left: clamp(1rem, 12vw, 11rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    margin-left: clamp(24rem, 30.9%, 35rem);
}

.content article {
    padding-left: -4rem;
    margin-left: -4rem;
    margin-right: 4rem;
}

.comma-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: -4px;
    margin-bottom: 1.0rem;
    max-width: 100%;
    gap: 0.3rem;
}

.comma {
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: fill;
    margin-bottom: 0.3rem;
}

.content h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(3.5rem, 5vw, 4.5rem);
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 1.5rem;
    text-align: left;
    line-height: 1;
}

.content h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(1.5rem, 2vw, 1.8rem);
    font-weight: 550;
    color: #FFFFFF;
    margin-top: 4.0rem;
    text-align: left;
    line-height: 1;
}

.content .text-highlight {
    font-weight: bold;
    color: #FFFFFF;
}

.content p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    line-height: 1.6;
}

.content #subtitle {
    margin-top: 0.5rem;
}

.content-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    padding-top: 2.0rem;
    gap: clamp(2.0rem, 10%, 5.0rem);
}

.left-column-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 2.0rem;
}

.right-column-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 3%;
    gap: 1.5rem;
}

/* Awards Container */

.awards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    gap: 0.4rem;
    cursor: pointer;
}

.awards-container p {
    line-height: 1.0em;
    cursor: pointer;

}

.award-title {
    color: #FFFFFF;
    line-height: 0.5em;
}

.award-subtitle {
    color: #7B7B7B;
}

.steve-quote {
    width: clamp(17.5rem, 90%, 21rem);
    aspect-ratio: 3/1;
    margin-top: 10%;
    object-fit: contain;
}

/* Layout Responsiveness */

@media (max-width: 1125px) {
    .sidebar {
        display: none;
    }

    .content {
        padding-left: 6rem;
        margin-left: 0;
    }

    .content article {
        max-width: 800px;
        margin: 0;
        padding-bottom: 0rem;
    }

    .steve-quote {
        width: clamp(15rem, 95%, 19rem);
    }
}

@media (max-width: 755px) {
    .content-horizontal-container {
        flex-direction: column;
    }

    .content {
        padding-left: 4rem;
        margin-left: 0;
    }

    .steve-quote {
        width: clamp(12.5rem, 17.5rem, 22.5rem);
    }
}